body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: white;
    text-align: center;
}

.stars {
    background: radial-gradient(circle at center, #0a0f25, #000);
    background-size: cover;
    height: 100vh;
    color: #fff;
    animation: stars 6s infinite alternate;
}

@keyframes stars {
    0% { background-position: 0 0; }
    100% { background-position: 100px 150px; }
}

/* LOGIN */
.login-box, .loading-box {
    margin-top: 25%;
}

.login-box input {
    display: block;
    width: 80%;
    padding: 12px;
    margin: 10px auto;
    border-radius: 10px;
    border: none;
}

button {
    padding: 12px 20px;
    border: none;
    background: #5a74ff;
    color: white;
    border-radius: 10px;
    width: 60%;
    font-size: 18px;
    margin-top: 10px;
}

/* HOME */
.container .btn {
    display: block;
    background: #5a74ff;
    width: 80%;
    padding: 15px;
    margin: 15px auto;
    border-radius: 12px;
    text-decoration: none;
    color: white;
    font-size: 20px;
}

/* CALCULADORA */
.calculator {
    width: 90%;
    margin: 20px auto;
}

#calcDisplay {
    width: 100%;
    padding: 20px;
    font-size: 26px;
    margin-bottom: 10px;
}

.keys button {
    width: 22%;
    padding: 20px;
    margin: 5px;
    font-size: 20px;
}

.equal {
    width: 95% !important;
    background: green;
}

/* CONFIGURAÇÕES */
.config-box {
    margin-top: 30%;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 30px;
}

.switch input { display: none; }

.slider {
    position: absolute;
    cursor: pointer;
    background: #333;
    border-radius: 30px;
    width: 100%;
    height: 100%;
    transition: .3s;
}

input:checked + .slider {
    background: #f1c40f;
}

.slider::before {
    content: "";
    height: 24px;
    width: 24px;
    background: white;
    position: absolute;
    border-radius: 50%;
    left: 3px;
    top: 3px;
    transition: .3s;
}

input:checked + .slider::before {
    transform: translateX(30px);
}

/* LIGHT MODE */
.light {
    background: white !important;
    color: black !important;
}
